*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'roboto', Courier, monospace;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-links ul li a:hover{
    color: #ff2b85;
}
.nav-btn button{
    padding: 10px 20px;
    background-color:#ff2b85;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color: #ff2b85;
}
.hero-section{
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
}
.background-clip{
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
}
.background-clip hower{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.hero-text{
    padding-top: 150px;
    padding-left: 100px;
    color: white;
    font-size: xx-large;
    font-family: 'roboto', Courier, monospace;
}
.hero-bottom{
    padding: 100px;
}
.bottom-para{
    font-size: xx-large;
    font-family: 'poppins', Courier, monospace;
}
.bottom-para p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    color: black;
    font-family: 'poppins', Courier, monospace;
}
.card-section{
    display: flex;
    padding: 100px;
    gap: 50px;
}
.cards{
    flex: 1;
    font-family: 'poppins', Courier, monospace;
    font-size: large;
    
}
.cards img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.cards h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.cards p{
    margin-bottom: 20px;
    line-height: 1.6;
}
.cards button{
    padding: 10px 20px;
    background-color:#ff2b85;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.cards button:hover{
    background-color: #ff2b85;
}
.new-section{
    margin: 100px;
    padding: 100px;
    font-family: 'poppins', Courier, monospace;
}
.new-card{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.card-text h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.card-text p{
    margin-bottom: 20px;
    line-height: 1.6;
}
.card-text button{
    padding: 10px 20px;
    background-color:#ff2b85;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.card-text button:hover{
    background-color: #ff2b85;
}
.card-img{
    flex: 1;

}
.card-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img img:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.card{
    gap: 50px;
    margin-bottom: 50px;
    text-align: center;

}
.card-para{
    text-align: center;
    font-family: 'poppins', Courier, monospace;
    font-size: large;

}
.card-para h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.card-para p{
    margin-bottom: 20px;
    line-height: 1.6;
}
.cardd{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

}
.card-1{
    flex: 1;
    font-family: 'poppins', Courier, monospace;
    font-size: large;

}
.card-1 img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-1 img:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.footer{
    justify-content: space-between;
    display: flex;
    background-color:black;
    padding: 20px;
    text-align: center;
    font-family: 'poppins', Courier, monospace;
}
.footer-content{
    display: flex;
    padding: 20px;
    text-align: center;
    font-family: 'poppins', Courier, monospace;
}
.footer-logo img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
.footer-links{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-links li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.footer-links li a:hover{
    color: #ff2b85;
}
.footer-text p{
    color: #777;
    font-size: 14px;
}
.footer-text p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.footer-social{
    margin-top: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 15px;

}
.footer-social a{
    width: 30px;
    color: white;
    height: auto;
}
.footer-social a img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.section{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-bootom{
    color: white;
}